<h2>Events</h2>

<a href="/events/new">+ New event</a>



<table>
  <th>Event</th>
  <th>Location</th>
  <th>Date</th>
  <th>Time</th>

  <% @events.each do |e| %>
    <tr>
      <a href="/events/<%= e.id %>"><%= e.name %></a>
    </tr>
    <tr>
      <%= e.location.name %>
    </tr>
    <tr>

    </tr>
  <% end %>
</table>
