<h2>New event</h2>

<form class="col-form" action="/events" method="post">

  <label for="name">Name</label>
  <input id="Name" type="text" name="name" required>

  <label for="description">Description</label>
  <textarea id="description" name="description" placeholder="Enter a short description of the event." required></textarea>

  <label for="location">Location</label>
  <select id="location" name="location_id" placeholder="location" required>
    <% @locations.each do |l| %>
       <option value="<%= l.id %>"> <%= l.print_name %></option>
    <% end %>
  </select>


  <label for="start-time">Time <span class="greyed">(Peak Times: 12:00-14:00 & 17:00-19:00)</span></label>
  <div class="row no-top-m">
    <input class="large" id="start-time" type="datetime-local" name="start_time" value="<%= Time.now.xmlschema[0...-9] %>" required>
    <label for="hours">Hours</label>
    <input class="tiny" id="hours" type="number" name="hours" min="0" max="12" value="1" required>
    <label for="mins">Mins</label>
    <input class="tiny" id="mins" type="number" name="mins" min="0" max="59" value="0" required>
  </div>

  <div class="row">

  </div>


  <div class="row no-top-m">
    <label>Recurrence:</label>
    <label for="one-time">One-time</label>
    <input id="one-time" type="radio" name="recurrence" value="one-time" checked>
    <label for="weekly">Weekly</label>
    <input id="weekly" type="radio" name="recurrence" value="weekly">
    <label for="monthly">Monthly</label>
    <input id="monthly" type="radio" name="recurrence" value="monthly">
  </div>

  <button class="btn" type="submit">Create Event</button>
</form>
