<h2>Members</h2>
<a href="/members/new">Add member +</a>
<hr>

<ul class="item-list">
<% @members.each do |m| %>
  <li><a href="/members/<%= m.id %>"><%= m.full_name %></a> - <span class="cap"><%= m.membership %></span></li>
<% end %>
</ul>
