<div class="row align-end">
  <a href="/members/new"><i class="material-icons">library_add</i></a>
  <h2>Members</h2>
</div>

<hr>

<ul class="item-list">
<% @members.each do |m| %>
  <li><a href="/members/<%= m.id %>"><%= m.print_name %></a> - <%= m.membership.capitalize %></li>
<% end %>
</ul>
