<h2>Add a new member</h2>

<form action="/members" method="post">
  <label for="first-name">First name</label>
  <input id="first-name" type="text" name="first_name">

  <label for="last-name">Last name</label>
  <input id="last-name" type="text" name="last_name">

  <label for="membership">Membership</label>
  <select id="membership" name="membership">
    <option value="basic">Basic</option>
    <option value="premium">Premium</option>
  </select>

  <button type="submit">Create Member</button>
</form>
