<h2>Locations</h2>

<a href="/locations/new">Create a new location</a>

<% @locations.each do |l| %>
  <p> <a href="/locations/<%= l.id %>"><%= l.name %></a> - Capacity: <%= l.capacity %> </p>
<% end %>
