<h2>Locations</h2>
<a href="/locations/new">Add +</a>
<hr>

<ul class="item-list">
  <% @locations.each do |l| %>
    <li> <a href="/locations/<%= l.id %>"><%= l.name %></a> - <%= l.capacity %> spots</li>
  <% end %>
</ul>
