<div class="row align-end">
  <h2>Locations</h2>
  <a href="/locations/new"><i class="left-m material-icons">library_add</i></a>
</div>

<hr>

<ul class="item-list">
  <% @locations.each do |l| %>
    <li> <a href="/locations/<%= l.id %>"><%= l.print_name %></a> - <%= l.capacity %> spots</li>
  <% end %>
</ul>
