<div class="row align-end">
  <a href="/locations/new"><i class="material-icons">library_add</i></a>
  <h2>Locations</h2>
</div>

<hr>

<ul class="item-list">
  <% @locations.each do |l| %>
    <li> <a href="/locations/<%= l.id %>"><%= l.print_name %></a> - <%= l.capacity %> spots</li>
  <% end %>
</ul>
