<h2>Add a new location</h2>

<form action="/locations" method="post">
  <label for="name">Name</label>
  <input id="name" type="text" name="name" required>

  <label for="capacity">Capacity</label>
  <input id="capacity" type="text" name="capacity" required>

  <button type="submit">Create Location</button>
</form>
