<h1>The Gym</h1>

<p>
  The Gym is a  cool place to hang out. You can find cool people here.
  You can just chill and do whatever and totally relax.
  <br><br>
  <em>"Take it easy"</em> is our motto. That's how laid back it is.
  Show up if you want to have a good time.
  Another good reason to show up is if you want to hang out with friends or get swole.</p>
