<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Gym</title>
  </head>
  <body>
    <p> - Nav placeholder - </p>
    <%= yield %>
  </body>
</html>
