<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>The Gym</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/members">Members</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/locations">Locations</a></li>
      </ul>
    </nav>

    <main>
    <%= request.path_info  %>
    <%= yield %>
    </main>
  </body>

</html>
