/* CSS Reset */

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  line-height: 1.5em;
  color: #211A1E;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

/* Base styles */

html {
  background-color: #f9f7f3;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
  color: #0fa3b1;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 125%;
}

a {
  text-transform: capitalize;
  text-decoration: none;
  color: #0fa3b1;
}

a:hover {
  text-decoration: underline;
}

hr {
  color: #BBC5AA;
  margin: 15px auto;
  border-top: 1px;
  border-style: solid;
}

/* Nav bar */

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  list-style-type: none;
  background-color: #0fa3b1;
  background: rgb(15,163,177);
  background: linear-gradient(90deg, rgba(15,163,177,1) 0%, rgba(181,226,250,1) 75%, rgba(181,226,250,1) 100%);
}

nav li {
  padding: 20px 25px;
  display: inline;
}

nav a {
  color: #f9f7f3;
  font-weight: 700;
  text-decoration: none;
}

nav .active {
  text-decoration: underline;
}

/* Main container */

main {
  width: 500px;
  margin: 50px auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.item {
  width: 80%;
  padding: 10px;
  color: #f9f7f3;
  background-color: #0fa3b1;
  margin: 15px auto;
  border-style: solid;
}

.item a {
  color: #f9f7f3;
}
