/* CSS Reset */

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  line-height: 1.5em;
  color: #211A1E;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

/* Base styles */

html {
  background-color: #ffff;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 125%;
}

a {
  text-transform: capitalize;
  text-decoration: none;
  color: #0fa3b1;
}

a:hover {
  text-decoration: underline;
}

hr {
  color: #BBC5AA;
  margin: 15px auto;
  border-top: 1px;
  border-style: solid;
}

/* Nav bar */

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  list-style-type: none;
  background-color: #0fa3b1;
  background: rgb(15,163,177);
  background: linear-gradient(90deg, rgba(15,163,177,1) 0%, rgba(181,226,250,1) 75%, rgba(181,226,250,1) 100%);
}

nav li {
  padding: 20px 25px;
  display: inline;
}

nav a {
  color: #f9f7f3;
  font-weight: 700;
  text-decoration: none;
}

nav .active {
  text-decoration: underline;
}

/* Main container */

main {
  width: 500px;
  margin: 50px auto;
}

.row {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 10px;
}

.col {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.spaced-row {
  padding: 5px 10px;
  justify-content: space-between;
}

.reversed-row {
  flex-direction: row-reverse;
}

.grow {
  flex-grow: 2;
}

.align-end {
  align-items: flex-end;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px 5px;
  border: 1px solid #BBC5AA;
}

.item-list > li{
  line-height: 2em;
}

/* Forms */

form.col-form {
  display: flex;
  flex-direction: column;
}

form.row-form {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

form.inline {
  display: inline;
}

label {
  margin: 10px 10px;
  margin-bottom: 0;
}

input, textarea {
  height: 40px;
  margin: 10px 10px;
  margin-top: 0;
  padding: 5px 10px;
  border: 1px solid #BBC5AA;
}

input.tiny {
  margin-right: 5px;
  margin-left: 5px;
  width: 50px;
}

input.small {
  width: 100px;
}

input.large {
  width: 250px;
}

textarea {
  height: 100px;
}

select {
  height: 50px;
  margin: 0px 10px;
  -webkit-border-radius: 0;
  border: 0;
  outline: 1px solid #BBC5AA;
  outline-offset: -1px;
}

select.large {
  width: 200px;
}

.btn {
  height: 50px;
  margin: 10px 10px;
  padding: 5px 25px;
  color: #f9f7f3;
  background-color: #0fa3b1;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border: 2px solid #0fa3b1;
}

.btn:hover {
  border: 2px solid #0fa3b1;
  background-color: #f9f7f3;
  color: #0fa3b1;
}

.btn-del {
  border: 2px solid #960200;
  color: #f9f7f3;
  background-color: #960200;
}

button.btn-del:hover {
  border: 2px solid #960200;
  color: #960200;
  background-color: #f9f7f3;
}

/* Helper classes */

.greyed {
  color: #BBC5AA;
}

.cap {
  text-transform: capitalize;
}

.no-vert-m {
  margin-top: 0;
  margin-bottom: 0;
}

.no-left-m {
  margin-left: 0;
}

.no-top-m {
  margin-top: 0;
}

.top-m {
  margin-top: 20px;
}

.bottom-m {
  margin-bottom: 20px;
}

/* Icons */

.material-icons {
  color: #0fa3b1;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  position: relative;
  left: -10px;
  margin-left: -25px
}

.material-icons:hover {
  color: #BBC5AA;
}

.material-icons.inline-icon {
  color: #0fa3b1;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  position: inherit;
  left: 0;
  margin-left: 5px;
  font-size: 1.25em;
  text-align: center;
  vertical-align: text-bottom;
  cursor: pointer;
}

.material-icons:hover {
  color: #BBC5AA;
}
